$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$White:#fff;
$Black:#000;
$color-grey-dark: #777;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.7;
	color:$color-grey-dark;
	padding: 30px;
}

.header{
	height: 95vh;
	background-image: linear-gradient(
		to right bottom, 
		rgba($color-primary-light,0.8),rgba($color-primary-dark,0.8)),
	    url('../img/hero.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
		&__logo-box{
			position: absolute;
			top: 40px;
			left: 40px;	
		}
		&__logo{
			height: 35px;
			animation:moveInDown 1s ease-out;
		}
		&__text-box{
			display: flex;
			height: 80vh;
			flex-direction: column;
			justify-content: center;
			align-items: center;

		}
}



.heading-primary{
	color:$White;
	text-transform: uppercase;

		&--main{
			display: block;
			font-size: 60px;
			font-weight: 400;
			letter-spacing: 35px;
			animation:moveInLeft 1s ease-out;
			backface-visibility: hidden;
			/*
			animation-name: moveInLeft;
			animation-duration: 1s;
			animation-timing-function: ease-out;
			animation-delay:3s;
			animation-iteration-count:3;
			*/
		}

		&--sub{
			display: block;
			font-size: 20px;
			font-weight: 400;
			letter-spacing: 17.5px;
			animation:moveInRight 1s ease-out;
		}
}

.btn{
	&:link,
	&:visited{
		text-transform: uppercase;
		text-decoration: none;
		padding: 15px 40px;
		margin-top: 25px;
		border-radius: 100px;
		transition: all .3s ease-out;
		position: relative;
	}

	&--white{
		background-color:$White;
		color:$color-grey-dark;
			&::after{
			background:$White;
			}
	}

	&:hover{
		transform: translateY(-3px);
		box-shadow: 0 10px 20px rgba($Black,.5);
	}

	&:active{
		transform: translateY(-1px);
		box-shadow: 0 10px 1px rgba($Black,.2);
	}
	&::after{
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 100px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .4s ease-out;
			&::after{
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
			}
	}

	
	

	&--animated{
		animation:moveInUp 1s ease-out .75s;
		animation-fill-mode: backwards;
	}
}

/*Animations*/
@keyframes moveInLeft{
	0%{
		opacity: 0;
		transform: translateX(-100px);
	}
	80%{
		transform: translateX(20px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight{
	0%{
		opacity: 0;
		transform: translateX(100px);
	}
	80%{
		transform: translateX(-20px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInDown{
	0%{
		opacity: 0;
		transform: translatey(-100px);
	}
	80%{
		transform: translatey(20px);
	}
	100%{
		opacity: 1;
		transform: translatey(0);
	}
}

@keyframes moveInUp{
	0%{
		opacity: 0;
		transform: translatey(100px);
	}
	80%{
		transform: translatey(-20px);
	}
	100%{
		opacity: 1;
		transform: translatey(0);
	}
}